html,
body {
  height: 100%;
  width: 100%;
}

.search-bar {
  max-width: 600px;
  height: 50px;
}

.search-btn {
  width: 80px;
}

.btn-labels {
  display: inline-block;
  vertical-align: middle;
  overflow-x: auto;
  white-space: nowrap;
  width: 600px;
}

.event-card {
  min-height: 500px;
}

.card {
  box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -webkit-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -moz-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  border-width: 0;
  height: 180px;
}