html,
body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  background-color: #FAEDCD;
}

#team-logo {
  width: 20px;
  vertical-align: top;
}

.navbar-custom {
  background-color: #D4A373;
}

#nav-brand {
  color: #FEFAE0;
}

.search-bar {
  max-width: 600px;
  height: 50px;
  background-color: #FEFAE0;
}

.btn-labels {
  display: inline-block;
  vertical-align: middle;
  overflow-x: auto;
  white-space: nowrap;
  width: 600px;
}

#plus-icon {
  font-size: 48px;
  --ionicon-stroke-width: 12px;
}

.event-card {
  min-height: 500px;
}

.card {
  box-shadow: 9px 12px 13px -4px rgba(51, 51, 51, 0.38);
  -webkit-box-shadow: 9px 12px 13px -4px rgba(51, 51, 51, 0.38);
  -moz-box-shadow: 9px 12px 13px -4px rgba(51, 51, 51, 0.38);
  border-width: 0;
  height: 180px;
  transition: box-shadow 0.25s ease-out 100ms;
  background-color: #FEFAE0;
}

.card:hover {
  box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -webkit-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -moz-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
}

.tag-btn {
  background-color: #FEFAE0;
  border-color: #FEFAE0;
}

.modal-header, .modal-body, .modal-footer, .form-control {
  background-color: #FEFAE0;
}

.btn-primary {
  background-color: #CCD5AE;
  border-color: #CCD5AE;
}

.btn-primary:hover {
  background-color: #797D62;
  border-color: #797D62;
}

.btn-danger {
  background-color: #D4A373;
  border-color: #D4A373;
}

.btn-danger:hover {
  background-color: #997B66;
  border-color: #997B66;
}

.btn-light:hover {
  background-color: #E9EDC9;
  border-color: #E9EDC9;
}

.active {
  background-color: #CCD5AE !important;
  border-color: #CCD5AE !important;
}

input:focus, textarea:focus {
  background-color: #eceed8 !important;
}

.dropdown-menu {
  background-color: #FEFAE0;
}