html,
body {
  height: 100%;
  width: 100%;
}

#team-logo {
  width: 30px;
}

.navbar-custom {
  background-color: #7c74ca;
}

#nav-brand {
  color: #f48580;
}

.search-bar {
  max-width: 600px;
  height: 50px;
}

.search-btn {
  width: 80px;
}

.btn-labels {
  display: inline-block;
  vertical-align: middle;
  overflow-x: auto;
  white-space: nowrap;
  width: 600px;
}

.event-card {
  min-height: 500px;
}

.card {
  box-shadow: 9px 12px 13px -4px rgba(51,51,51,0.38);
  -webkit-box-shadow: 9px 12px 13px -4px rgba(51,51,51,0.38);
  -moz-box-shadow: 9px 12px 13px -4px rgba(51,51,51,0.38);
  border-width: 0;
  height: 180px;
  transition: box-shadow 0.25s ease-out 100ms;
}

.card:hover {
  box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -webkit-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
  -moz-box-shadow: 13px 15px 48px -12px rgba(120, 116, 116, 0.7);
}